/* Global Styles */

* {
    box-sizing: border-box;
}

html {
    margin: 0;
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 236, 237);
}

img {
    width: 100%;
    height: auto;
}

/* Desktop First Styling Approach */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 0 2rem;
    position: relative;
}

header h1 {
    letter-spacing: 5px;
    font-weight: bold;
}

.brand {
    margin: 0;
    font-weight: 300;
}

header a {
    color: #3d1a1a;
    text-decoration: none;
}

/* hiding on desktop, will show on mobile */
.mobile-menu {
    display: none;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.menu li {
    min-width: 5rem;
}

.menu li a {
    /* nice and chunky to click */
    display: block;
    padding: 1rem;
}

.clicked {
    background-color: rgb(222, 162, 162);
}

.menu li a:hover {
    transition: all .5s ease-in-out;
    color: #e3bbbb;
    background-color: rgb(123, 77, 77);
    cursor: pointer;
}

.grid-container {
    padding: 2rem, 8rem;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.grid-item {
    position: relative;
    flex: 0 0 40%;
    margin: 2rem auto;
    overflow: hidden;
}

.grid-item.text {
    padding: 2rem;
    line-height: 1.5rem;

}

/* overlay color for when you hover */
.mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(231, 171, 171, 0.5);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.grid-item.img:hover .mask {
    opacity: 1;
    cursor: pointer;
}

/* link to go to project */
.mask a {
    padding: 10px 20px;
    border: 2px solid rgb(237, 224, 224);
    border-radius: 5px;
    background-color: #e7e7e7;
    text-decoration: none;
    color: #3d1a1a;
    font-size: 20px;
    font-weight: 800;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.grid-item.img:hover .mask a {
    opacity: 1;
}

/* personal page */
.grid-item {
    position: relative;
    flex: 0 0 30%;
    margin: 2rem auto;
    overflow: hidden;
}

.mask h2 {
    margin: 0;
}


/* Tablet Sized Screen */
@media screen and (min-width: 768px) and (max-width:1024px) {
    body {
        background-color: rgb(163, 214, 174);
    }

    .thumb {
        flex: 0 0 45%;
        margin: 1 rem auto;
    }
}

/* Mobile Phone Sized Screens */
@media screen and (max-width: 768px) {
    body {
        background-color: cadetblue;
    }

    header {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        text-align: center;
        padding: 0;
    }

    .brand {
        margin: .5rem;
    }

    .mobile-menu {
        display: block;
        color: #aaa;
        font-size: 2rem;
        position: absolute;
        top: 0.5rem;
        right: 1rem;
    }

    .menu {
        flex-direction: column;
    }

    .menu li {
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }

    .container {
        flex-direction: column;
    }

    .thumb {
        flex: 1 1 100;
        margin: 1rem auto;
    }
}