@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    /* this is how we get a full size background image */
    background: url('../img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* apply default font style to the body so all other */
body {
    font-family: 'Protest Strike', sans-serif;
}

.container {
    width: 900px;
    /* centers it horizontally */
    margin: 0 auto;
    font-size: 0;
}

.polaroid {
    width: 260px;
    margin: 20px;
    display: inline-block;
}

.polaroid img {
    width: 100%; 
    /* keeps the aspect ratio and doesnt squish img */
    height: auto;
    border: 10px solid #ccc;
    border-bottom-width: 45px;;
}

.polaroid p {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 200px;
    color: #333;
    font-size: 1rem;
}